language: node_js
node_js:
  - "lts/*"
  - "8"
  - "10"
  - "12"
sudo: false
cache:
  yarn: true
before_install:
  - npm install yarn
install:
  - yarn config get save-prefix
  - yarn
script:
  - yarn lint
  - yarn build
  - yarn test
